{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static "css/astyle.css" %}>
</head>
<body>
<div class="container">
    <header>
        <h1>About Us</h1>
    </header>
    <section class="about-content">
        <p>
            The fragnance of flower is something we all assemble with and it's essence is 
            mismerizing.
            Our website has all types of flower and for maximum occasions with a great delivery
            system.
            We ensure from our end the right product reaches to you at earliet without any complain.
            We belive in feedback makes something more intresting.
            So we welcome any suggestion about the website which will
            be taken positivly from our end.
        </p>
    </section>
    <section class="about-image">
        <div class="profile">
            <div class="info">
                <img src="{% static "images/gautamkumar.jpg" %}" alt="Image not provided">
                <h4><b>Gautam Kumar</b></h4> 
                <p>An extremely hard working tech enthusiastic person who loves to derive the root cause of the problem and examine the solution for a better outcome to enhance the project that suits the requirements of all. Especially the back end of part of the web development is something in which masterry can be seen.
                </p><br><br><br>
                <a href="https://www.linkedin.com/in/gautam-kumar-a70667215/"><i class="fa-brands fa-linkedin">  LinkdIn </a></i>
            </div>
            <div class="info">
                <img src="{% static "images/siddiqua.jpg.png" %}" alt="Image not provided">
                <h4><b>Sidiqqaua Rahaman</b></h4> 
                <p>A highly excited and always ready to work in any condition kind of person  to give the best and shape the project at the last moment with the help of creative mind set and best knowledge in the area of graphic designing and database handling from collecting and retrieval of data everything.
                </p><br><br><br><br>
                <a href="https://www.linkedin.com/in/siddiqua-rahman-bba658233/"><i class="fa-brands fa-linkedin">  LinkdIn</a></i>
            </div>
            <div class="info">
                <img src="{% static "images/adityapandey.jpg" %}" alt="Adi">
                <h4><b>Aditya Pandey</b></h4>
                <p>A person who is more  inclined towards web development and has a proper grip over various tools that are used for the same. In addition to it have an insight knowledge on  how websites should look according to the requirements in order to give the best for the front end development part of the project and well oriented website.</p>
                </p> <br>
                <a href="https://www.linkedin.com/in/adityapandey03"><i class="fa-brands fa-linkedin">  LinkdIn </a></i>  
            </div>
        </div>       
    </section>
    <footer>
        <p>&copy; Foolwari. All Rights Reserved.</p>
    </footer>
</div>

</body>
</html>
